@import "fonts";

body {
   box-sizing: border-box;
}

/* ---------------Utility // mixin versi vanila CSS---------------  */
.button {
   text-transform: uppercase;
   border-radius: 24px;
   padding: 5px 15px;
   transition: 0.3s ease;

   &:hover {
      letter-spacing: 1px;
      opacity: 0.9;
   }
}
/* akhir utility */

/*-------------------------Navbar------------------------- */
.custom-nav {
   position: relative;
   z-index: 1;

   .navbar-brand {
      font-family: viga;
      font-size: 32px;
   }

   /* 

   /* -------------------------Laptop BreakPoints------------------------- */
   @media screen and (min-width: 992px) {
      .navbar-brand,
      .nav-link {
         color: white !important;
         text-shadow: 1px 1px 1px rgba(#000000, 0.7);
      }

      .nav-link {
         text-transform: uppercase;
         margin-right: 30px;

         &:hover::after {
            content: "";
            display: block;
            width: 32px;
            color: rgb(223, 195, 195);
            padding-bottom: 3px;
            margin: auto;
            margin-bottom: -8px;
            border-bottom: 3px solid #0b63dc;
            border-radius: 24px 24px 50px 50px;
         }
      }
      .button {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 20px;
         padding: 17px 20px;
         transition: 0.3s ease;

         &:hover {
            color: rgb(203, 206, 231);
            background-color: blue;
         }
      }
   }
}
/* -------------------------Akbir Navbar------------------------- */

/* -------------------------Jumbotron------------------------- */
.jumbotron {
   position: relative;
   height: 540px;
   text-align: center;
   background-image: url("../img/jumbotron-bg.jpg");
   background-size: cover;
   padding-top: 200px;

   .container {
      position: relative;
      z-index: 2;
   }

   &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      bottom: 0;
      background-image: linear-gradient(to top, #000, transparent 80%);
      z-index: 1;
   }

   h1 {
      max-width: 700px;
      color: white;
      font-weight: 200;
      text-shadow: 1px 1px 1px rgba(#000000, 0.7);

      margin: auto;

      span {
         word-wrap: break-word;
         font-weight: 500;
      }
   }

   @media screen and (min-width: 992px) {
      & {
         height: 640px;
         font-size: 62px;
         margin-top: -75px;
      }
   }
}
/* -------------------------Akhir Jumbotron------------------------- */

/* -------------------------Info Panel------------------------- */
.info-panel {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   background-color: #fff;
   border-radius: 12px;
   padding: 30px;
   margin-top: -100px;
   box-shadow: 0 3px 20px rgba(#000000, 0.5);
   z-index: 5;

   .row {
      img {
         width: 80px;
         height: 80px;
         float: left;
         margin-right: 20px;
         margin-bottom: 20px;
      }

      h4 {
         font-size: 16px;
         text-transform: uppercase;
         font-weight: bold;
         margin-top: 9px;
         white-space: nowrap;
      }

      p {
         width: 150px;
         font-size: 14px;
         color: #acacac;
         line-height: 15px;
      }
   }
}
/* -------------------------Akhir Info Panel------------------------- */

/* -------------------------workingspace------------------------- */
.workingspace {
   margin-top: 120px;

   h3 {
      font-size: 52px;
      font-weight: 200;
      text-transform: uppercase;
      margin-top: 30px;

      span {
         font-weight: 500;
      }
   }

   p {
      font-weight: 200;
      font-size: 18px;
      color: #acacac;
   }

   @media screen and (max-width: 992px) {
      .sub-judul {
         text-align: center;

         p {
            margin: 30px auto;
         }
      }
   }
}
/* -------------------------Akhir workingspace------------------------- */

/* -------------------------Testimonial------------------------- */
.testimonial {
   margin-top: 100px;

   h5 {
      font-weight: 200;
      text-align: center;
      font-style: italic;
      font-size: 24px;

      @media screen and (min-width: 992px) {
         font-size: 32px;
      }
   }

   figure {
      img {
         width: 60px;
         margin: 20px 10px 5px;
         opacity: 0.7;

         &.main-testi {
            width: 90px;
            margin-top: 5px;
            opacity: 1;
         }
      }

      figcaption {
         h5 {
            color: #1c2c5d;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
         }

         p {
            color: #acacac;
            font-size: 12px;
            text-align: center;
            margin-top: -5px;
         }
      }
   }
}
/* -------------------------Akhir Testimonial------------------------- */

/* -------------------------Footer------------------------- */
footer {
   margin-top: 100px;

   .col {
      text-align: center;

      p {
         color: #acacac;
         font-size: 18px;
      }
   }
}
/* -------------------------Akhir Footer------------------------- */
